
<div class="title">
  <h2>My People</h2>
</div>

<div class="table">
<table>
<tr>
   <th>Name</th>
   <th>Favorite City</th>
   <th></th>
 </tr>
 <% @people.each do |p| %>
  <tr>
    <td><%= p.name%></td>
    <td><%= p.favoriteCity%></td>
    <td><%= link_to "Edit", edit_person_path(p), class: 'button hiding' %></td>
  </tr>
<% end %>
</table>
</div>

<%= render "form" %>
