<div class="center" id="guides">
<h1>PAT Web API</h1>
  <hr />
  <p>
    The API is organized around REST. It has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors. Built-in HTTP features, like HTTP authentication and HTTP verbs, are understood by off-the-shelf HTTP clients. The application supports cross-origin resource sharing, allowing to interact securely with the API from a client-side web application(for the presentation purpose authentication was simplified). JSON is returned by all API responses.<br>
    <br>
    <strong>API Endpoint: </strong>
    <code style="color: #2ebd59">https://for-sptf.herokuapp.com/api/people/1</code>
    <br>
  </p>
  <p>
    <br>
    <strong>Note: </strong>Following the given order of steps in the code challenge requirements, there are some action flow restrictions: person show page can only be accessed after it was created/updated.
  </p>
  <h4>Version</h4><br>
  <p>
      The current version of the API is v1, the version is not part of the URL, so all calls to the API not necessarily include the API version.
  </p>
  <h4>Authentication</h4><br>
  <p>
    Authentication is not needed in order to explore the API data.
  </p>
  <h4 style="margin-bottom: 2vw">Resources and Examples</h4>
  - List all people(ID, Name, Favorite City) <br>
  <div class="verb-btn btn-get">GET</div>
  <code style="display: inline">&nbsp;&nbsp;/api/people</code>
  <br>
   <p>Returns</p>
  <code>[{"id":2,"name":"Natallia","favoriteCity":"Paris"},{"id":1,"name":"Natasha","favoriteCity":"Tokyo"}]</code>
  <br>
  <br>
  - Create new person <br>
  <div class="verb-btn btn-post">POST</div>
  <code style="display: inline">&nbsp;&nbsp;/api/people</code>
  <br>
  <p>Request Parameters:</p>
    <div class="params-table">
      <table>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <tr></tr>
        </tr>
        <tr>
          <td>name</td>
          <td>string</td>
          <td>required</td>
        </tr>
        <tr>
          <td>favoriteCity</td>
          <td>string</td>
          <td>required</td>
        </tr>
      </table>
        <p><strong>Note: </strong> person key is necessary in order to send a successful request.</p>
    </div>
  <p>Example:<code>{"person":{"name”:”Sean”,”favoriteCity”:”New York”}}</code></p>
  <br>
  <br>
 - Update an excisting record <br>
    <div class="verb-btn btn-put">PUT</div>
    <code style="display: inline">&nbsp;&nbsp;/api/people/:id</code>
    <br>
      <p>Request Parameters:</p>
      <div class="params-table">
        <table>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <tr></tr>
          </tr>
          <tr>
            <td>name</td>
            <td>string</td>
            <td>not required</td>
          </tr>
          <tr>
            <td>favoriteCity</td>
            <td>string</td>
            <td>not required</td>
          </tr>
        </table>
      </div>
    <p>Example:<code>{"favoriteCity":"Brooklyn"}</code></p>
    <br>
- Retrieve a specific person <br>
    <div class="verb-btn btn-get">GET</div>
      <code style="display: inline">&nbsp;&nbsp;/api/people/:id</code>
      <br>
      <p>Returns
      <code>[{"id":1,"name":"Sean","favoriteCity":"Brooklyn"}</code></p>
    <br>
    <br>
- Delete a specific person <br>
    <div class="verb-btn btn-del">DELETE</div>
      <code style="display: inline">&nbsp;&nbsp;/api/people/:id</code>
      <br>
        <p>Request Parameters: Id is required</p>
      <br>
    <br>
</div>
